* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(148, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    height: 480px;
    width: 320px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid #000;
    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
#storiyan{
    height: 120px;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #dadada;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#storiyan::-webkit-scrollbar{
    display: none;
}
.story{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 3px solid red;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}
.story img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    object-position: center;
}
.full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}
.container{
    height: 400px;
    width: 350px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.container img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.container i{
    color: red;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}